@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter';
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  background-color: hsl(0, 82%, 13);
}

#about-link {
  margin: 0;
  padding: 20px; /* Add padding for spacing */
  font-style: italic; /* Make it italic */
  text-decoration: none; /* Remove underline */
  color: hsl(0, 84%, 20%); /* Text color */
  text-align: right; /* Align the text to the right */
  margin-right: 1%; /* Add margin for spacing from the top right corner */
}

#about-link a {
  text-decoration: none; /* Remove underline */
  color: #530909; /* Text color */
}

h1 {
  text-shadow: 3px 3px 5px hsl(0, 100%, 29%), -3px -3px 5px hsl(290, 100%, 22%);
  font-size: 24px;
  padding: 20px;
  margin: 10px;
}


p1{
  display: grid; grid-template-columns: 50px;
}

.dropdown {
  text-align: center;
  margin-top: 100px;
  position: relative;
  display: inline-block;
}

.dropdown button{
  background-color: hsl(0, 82%, 13%);
  color:rgb(250, 242, 231);
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size:20px;
  border:none;
  border-radius:5px;
  cursor: pointer;
}
.dropdown a{
  display: block;
  color:black;
  text-decoration:none;
  text-align:center;
  padding: 20px 20px;
  font-size: 20px;
}

.dropdown .content{
  display: none;
  padding: 10px;
  position:absolute;
  background-color:   hsl(0, 88%, 10%);
  min-width: 100px;
  box-shadow: 2 px 2 px 5 px hsla(0, 4%, 9%, 0.699);
  border-radius: 5px;
  top: 100%; /* Position below the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}

.dropdown:hover .content{
  display:block;

}
.dropdown:hover button{
  background-color: hsl(0, 31%, 60%)
}
.dropdown a:hover{
  background-color: hsl(0, 0%, 90%)
 
}



.back-video{
  position: absolute;
  right: 0;
  bottom:0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height:auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height:100%;
  }
}


.dropdown1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.dropdown1 button{
  background-color: hsl(56, 98%, 16%);
  color:hsl(35, 73%, 82%);
  padding: 20px 30 px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  border:hsl(320, 26%, 40%);
  cursor: pointer;
  border-radius: 10px;
}
.dropdown1 a{
  display: block;
  color:hsl(0, 92%, 14%);
  text-decoration:none;
  text-align:center;
  padding:10px;
}

.dropdown1 .content{
  display: none;
  position:absolute;
  padding: 10px;
  margin:20px;
  background-color:   hsl(249, 26%, 40%);
  min-width: 100px;
  box-shadow: 2 px 2 px 5 px hsla(0, 4%, 9%, 0.699);
  border-radius: 10px;
}
.dropdown1:hover .content{
  display:block;

}
.dropdown1:hover button{
  background-color: hsl(0, 31%, 60%)
}
.dropdown1 a:hover{
  background-color: hsl(0, 0%, 90%)
 
}


body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
}

.letter {
  text-decoration: none;
  font-size: 70px;
  margin: 0 10px;
  color: #ffffff; 
  transition: color .2 s;
}

.letter:hover {
  color: #007bff; 
}

.centered-content {
  text-align: center; /* Center align the text */
}

h1 {
  text-shadow: 3px 3px 5px hsl(0, 100%, 29%), -3px -3px 5px hsl(290, 100%, 22%);
  font-size: 24px; /* Adjust the font size as needed */
}

p {
  font-size: 18px; /* Adjust the font size as needed */
}

audio {
  padding:10px;
  margin: 10px;
}