@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter';
  margin: 0;
  padding: 0;

}

h1{
  text-shadow:3px 3px 5px hsl(0, 100%, 29%), -3px -3px 5px hsl(290, 100%, 22%);
}
.dropdown button{
  background-color: hsl(0, 0%, 80%);
  color:antiquewhite;
  padding: 10px 15 px;
  border:none;
  cursor: pointer;
}
.dropdown a{
  display: block;
  color:black;
  text-decoration:none;
  padding: 10px 15px;
}

.dropdown .content{
  display: none;
  position:absolute;
  background-color:   hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2 px 2 px 5 px hsla(0, 4%, 9%, 0.699);
}
.dropdown:hover .content{
  display:block;

}
.dropdown:hover button{
  background-color: hsl(0, 0%, 70%)
}
.dropdown a:hover{
  background-color: hsl(0, 0%, 90%)
 
}